

.img-tool {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: '10px'
}

.fs-14 {
    font-size: .875rem !important;
}

.fs-12 {
    font-size: .75rem !important;
}

.fs-10 {
    font-size: .675rem !important;
}

.fs-8 {
    font-size: .375rem !important;
}

.input-code {
    height: 2.75rem;
    padding-inline: .75rem;
    box-shadow: none;
}

.apply {
    height: 2.75rem;
    padding-inline: .75rem;
    width: 76px !important;
}

input[type="text"], input[type="email"]{
    height: 2.75rem;
    padding-inline: .75rem;
    border: .8px solid var(--light-gray);
    font-family: 'Archivo', sans-serif;
    font-size: .875rem;
    color: var(--black);
    box-shadow: none !important;
    border-radius: var(--bs-border-radius-pill) !important
}

::placeholder{
    font-size: .75rem;
    color: var(--black);
}

input:focus, input:focus-visible{
    border: 1px solid var(--black) !important;
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%231d1d1d'/%3e%3c/svg%3e");
    background-color: transparent !important;
    border-color: var(--black) !important;
}

.shipping-options {
    display: flex;
    flex-direction: column;
  }
  
  .shipping-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .shipping-option.checked {
    border-color: var(--black); /* Change la couleur du bord si la méthode est sélectionnée */
  }
  
  .option-details {
    display: flex;
    flex-direction: column;
  }
  
  .shipping-option-title {
    margin: 0;
  }
  
  .shipping-details {
    margin: 0;
  }
  
  .shipping-cost {
  }
  