    .collection-card {
      border-radius: 1.5rem;
    }

    .title {
    }

    .selectedBtn {
      padding: .625rem .875rem;
    }

    .collection-card .wrapper {
      position: relative;
      overflow: hidden;
      border-radius: inherit;
      height: 25.3125rem;
      width: 20.1666875rem;
    }

    .card-body {
      cursor: pointer;

      .card-title {
        text-decoration: none;
        transition: text-decoration .10s ease-in-out;

        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--black);
        }
      }
    }

    .wrapper .wrapper-content {
      position: absolute;
      top: 0px;
      display: none;
      pointer-events: none;
      left: 0px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: transparent;
      transition: background-color .15s ease;
    }

    .wrapper .wrapper-content div:nth-child(1) {
      a {
        padding-inline: .625rem !important;
        font-size: .75rem;
      }
    }

    .wrapper .wrapper-content div:nth-child(2) {
      transform: translateY(100%);
      transition: transform .15s ease;

      button:nth-child(1) {
        font-size: .875rem !important;
        pointer-events: auto;
        padding-block: .75rem !important;
        display: flex;
        justify-content: center;
        gap: .2rem;
        align-items: center;

        span {
          display: inline-block;
          background-image: url("/wallet.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          height: 20px;
          width: 20px;
          padding: 0px;
        }
      }

      button:nth-child(2) {
        font-size: .875rem;
        pointer-events: auto;
      }
    }

    .wrapper:hover {
      .wrapper-content {
        background-color: rgba(0, 0, 0, .23);

        div:nth-child(2) {
          transform: translateY(0);
        }
      }
    }

    .pd-more {
      padding: .75rem 1.25rem;
    }

    .gutter {
      --bs-gutter-x: 0.75rem;
      --bs-gutter-y: 0.75rem;
    }

    .card-title {
      letter-spacing: -.1rem;
    }

    .collection-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }

    @media only screen and (min-width >= 768px) {
      .title {
        font-size: 1.875rem;
      }
    }

    @media only screen and (max-width: 767px) {
     .collection-section .collection-card {
        width: auto;
      }
      .collection-section .collection-card .wrapper {
        width: auto;
      }
    }