    .collection-card {
    padding: 12px;
    border-radius: 1.5rem;
  }
  
    .selectedBtn {
    padding: 10px 26px;
    font-size: 14px;
  }

  .selectedBtn:hover {
    color: white !important;
}

  .hover:hover{
    background-color: var(--neutral600);
    color: white;
  }

  .collection-card .wrapper {
    overflow: hidden;
    border-radius: inherit;
    aspect-ratio: 1/1;

}

  .collection-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  .collection-card button {
  }