.create-and-sell {
    background-color: white ;
  }

  h2{
    color: var(--neutral800);
    margin-bottom: 2rem;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    padding: 10px;
  }
  
  .step-card {
    border: none;
    border-radius: 1.5rem;
    transition: translate 0.3s ease;
  }
  
  .detail{
    font-size: .9rem;
  }