@font-face {
    font-family: 'Chillax';
    src: url('../assets/fonts/chillax-cufonfonts/Chillax-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../assets/fonts/Archivo_Complete/Fonts/OTF/Archivo-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

.fm-archivo{
    font-family: 'Archivo', sans-serif;
}

.fm-chillax{
    font-family: 'Chillax', sans-serif;
}

body {
    font-family: 'Chillax', sans-serif;
}
