footer {
    color: white;
    padding: 3.5rem 0rem !important;
}

.footer-top {
    margin-bottom: 20px;
}

::placeholder{
  font-size: .75rem;
  color: rgb(255, 255, 255, .8) !important;
}

button{
  font-size: .875rem !important;
}

li{
  font-size: .875rem !important;
  cursor: pointer;
}

input:focus, input:focus-visible{
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
}

.copyright{
  font-size: .875rem !important;
}

.newsletter {
    font-size: .875rem;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: var(--black);
    cursor: pointer;
}
