.footer {
    background-color: white;
}
  
  .divider {
    border-top: 1px solid var(--neutral100);
  }
  
  ul li {
    list-style: none; 
    font-size: .9rem;
  }
  
  .link-neutral-900:hover {
    text-decoration: none;
  }

  .divider-row{
    height: 0;
  }
