.navbar .hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility .15s ease-in-out;
}

.collapsed .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("src/assets/icons/burger-icon.svg");
  background-size: contain;
  background-position: center;
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("src/assets/icons/burgerClose-icon.svg");
  background-size: contain;
  background-position: center;
  transition: background-image .10s ease-in-out;
}

a[href="#profile"] {
  padding-block: .25rem;
  border-right: .15rem solid var(--neutral700);
}

.connect {
  padding-block: .6rem;
}

.connect:hover {
  color: var(--neutral700);
  background-color: transparent;
}

.burger {
  border: none;
  box-shadow: none;
  transform: scale(1);
  transition: background-color .15s ease-in-out;
  &:hover{
    transform: scale(1.1);
    transition: transform .15s ease-in;
  }
}

.burger:focus,
.burger:focus-visible {
  box-shadow: none;
}

.connect:focus,
.connect:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ntf {
  transition: visibility .15s ease-in-out;
}

.lg-visible {
  visibility: visible;
  pointer-events: visible;
}

/*PC */
@media only screen and (min-width: 992px) {
  .lg-visible {
    visibility: visible;
    pointer-events: visible;
  }
  .navbar .hidden {
    visibility: visible;
    pointer-events: visible;
    transition: visibility .15s ease-in-out;
  }
}

/* Tablette*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .lg-visible {
    visibility: hidden;
    pointer-events: none;
  }
}

/* Smartphone*/
@media only screen and (max-width: 767px) {
  .lg-visible {
    visibility: hidden;
    pointer-events: none;
  }
}