.sign {
  border-right: 1px solid var(--neutral700);
}

.divider {
  height: 2.5rem;
  width: .12rem;
  opacity: 1;
}

.collapsed .navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("src/assets/icons/burger-icon.svg");
}

.navbar-toggler-icon {
  --bs-navbar-toggler-icon-bg: url("src/assets/icons/burgerClose-icon.svg");
}

.connect:hover {
  color: var(--neutral700);
  background-color: transparent;
}

.burger {
  border: none;
  box-shadow: none;
}

.burger:focus,
.burger:focus-visible {
  box-shadow: none;
}

.connect:focus,
.connect:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.lg-visible {
  visibility: visible;
  pointer-events: visible;
}

/*PC */
@media only screen and (min-width: 992px) {
  .lg-visible {
    visibility: visible;
    pointer-events: visible;
  }
}

/* Tablette*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .lg-visible {
    visibility: hidden;
    pointer-events: none;
  }
}

/* Smartphone*/
@media only screen and (max-width: 767px) {
  .lg-visible {
    visibility: hidden;
    pointer-events: none;
  }
}