.profile-section {
    position: relative;
    overflow: hidden;
    height: 336px;
  }
  
  .profile-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("src/assets/nftProfile.jpg");
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transform: translateY(0);
    transition: transform 0.1s ease-out;
    filter: brightness(.4);
  }

  .profile-section:hover .profile-background{
  }

  .profile-content {
    position: absolute;
    display: grid;
    place-items: center;
    text-align: center;
    color: white;
  }
  
  .profile-content h1 {
    font-weight: 500;
  }
  
  .profile-content p {
    font-size: 1.25rem;
  }
  
  .profile-content button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 25px;
    --bs-btn-hover-color: var(--neutral800);
    --bs-btn-active-color: var(--neutral800);
    margin-block: 1rem;
  }
  