:root {
  --light-gray: #E5E5E5;  
  --gray: #C3C3C3; 
  --dark-gray: #7E7E7E; 
  --black: #1D1D1D; 
  --green: #2D5C43; 
  --purple: #393158; 
  --ocean: #2A5259; 
  --olive: #706947; 

  --neutral50: #E8E9EA;
  --neutral100: #BBBABE;
  --neutral200: #96989E;
  --neutral300: #666A72;
  --neutral400: #484D56;
  --neutral500: #323842;
  --neutral600: #181D28;
  --neutral700: #12171F;
  --neutral800: #0E1218;
  --neutral900: #0B0D12;
}

.bg-light-gray {
  background-color: var(--light-gray) !important;
}
.bg-gray {
  background-color: var(--gray) !important;
}
.bg-dark-gray {
  background-color: var(--dark-gray) !important;
}
.bg-black {
  background-color: var(--black) !important;
}
.bg-green {
  background-color: var(--green) !important;
}
.bg-purple {
  background-color: var(--purple) !important;
}
.bg-ocean {
  background-color: var(--ocean) !important;
}
.bg-olive {
  background-color: var(--olive) !important;
}

.bg-neutral-50 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral50) !important;
}

.bg-neutral-100 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral100) !important;
}

.bg-neutral-200 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral200) !important;
}

.bg-neutral-300 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral300) !important;
}

.bg-neutral-400 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral400) !important;
}

.bg-neutral-500 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral500) !important;
}

.bg-neutral-600 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral600) !important;
}

.bg-neutral-700 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral700) !important;
}

.bg-neutral-800 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral800) !important;
}

.bg-neutral-900 {
  --bs-bg-opacity: 1;
  background-color: var(--neutral900) !important;
}

.text-light-gray {
  color: var(--light-gray) !important;
}
.text-gray {
  color: var(--gray) !important;
}
.text-dark-gray {
  color: var(--dark-gray) !important;
}
.text-black {
  color: var(--black) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-ocean {
  color: var(--ocean) !important;
}
.text-olive {
  color: var(--olive) !important;
}

.text-neutral-50 {
  color: var(--neutral50) !important;
}

.text-neutral-100 {
  color: var(--neutral100) !important;
}

.text-neutral-200 {
  color: var(--neutral200) !important;
}

.text-neutral-300 {
  color: var(--neutral300) !important;
}

.text-neutral-400 {
  color: var(--neutral400) !important;
}

.text-neutral-500 {
  color: var(--neutral500) !important;
}

.text-neutral-600 {
  color: var(--neutral600) !important;
}

.text-neutral-700 {
  color: var(--neutral700) !important;
}

.text-neutral-800 {
  color: var(--neutral800) !important;
}

.text-neutral-900 {
  color: var(--neutral900) !important;
}

.border-neutral-50 {
  border-color: var(--neutral50) !important;
}

.border-light-gray {
  border-color: var(--light-gray) !important;
}
.border-gray {
  border-color: var(--gray) !important;
}
.border-dark-gray {
  border-color: var(--dark-gray) !important;
}
.border-black {
  border-color: var(--black) !important;
}
.border-green {
  border-color: var(--green) !important;
}
.border-purple {
  border-color: var(--purple) !important;
}
.border-ocean {
  border-color: var(--ocean) !important;
}
.border-olive {
  border-color: var(--olive) !important;
}

.border-neutral-100 {
  border-color: var(--neutral100) !important;
}

.border-neutral-200 {
  border-color: var(--neutral200) !important;
}

.border-neutral-300 {
  border-color: var(--neutral300) !important;
}

.border-neutral-400 {
  border-color: var(--neutral400) !important;
}

.border-neutral-500 {
  border-color: var(--neutral500) !important;
}

.border-neutral-600 {
  border-color: var(--neutral600) !important;
}

.border-neutral-700 {
  border-color: var(--neutral700) !important;
}

.border-neutral-800 {
  border-color: var(--neutral800) !important;
}

.border-neutral-900 {
  border-color: var(--neutral900) !important ;
}

.btn-neutral-50 {
  background-color: var(--neutral50);
  color: #000
}

.btn-neutral-50:hover {
  background-color: darken(var(--neutral50), 10%);
}

.btn-light-gray {
  background-color: var(--light-gray);
  color: #000;
}

.btn-light-gray:hover {
  background-color: darken(var(--light-gray), 10%);
}
.btn-gray {
  background-color: var(--gray);
  color: #000;
}

.btn-gray:hover {
  background-color: darken(var(--gray), 10%);
}
.btn-dark-gray {
  background-color: var(--dark-gray);
  color: #000;
}

.btn-dark-gray:hover {
  background-color: darken(var(--dark-gray), 10%);
}
.btn-black {
  background-color: var(--black);
  color: #FFF;
}

.btn-black:hover {
  background-color: darken(var(--black), 10%);
}
.btn-green {
  background-color: var(--green);
  color: #FFF;
}

.btn-green:hover {
  background-color: darken(var(--green), 10%);
}
.btn-purple {
  background-color: var(--purple);
  color: #FFF;
}

.btn-purple:hover {
  background-color: darken(var(--purple), 10%);
}
.btn-ocean {
  background-color: var(--ocean);
  color: #FFF;
}

.btn-ocean:hover {
  background-color: darken(var(--ocean), 10%);
}
.btn-olive {
  background-color: var(--olive);
  color: #FFF;
}

.btn-olive:hover {
  background-color: darken(var(--olive), 10%);
}

.btn-neutral-100 {
  background-color: var(--neutral100);
  color: #000;
}

.btn-neutral-100:hover {
  background-color: darken(var(--neutral100), 10%);
}

.btn-neutral-200 {
  background-color: var(--neutral200);
  color: #000;
}

.btn-neutral-200:hover {
  background-color: darken(var(--neutral200), 10%);
}

.btn-neutral-300 {
  background-color: var(--neutral300);
  color: #000;
}

.btn-neutral-300:hover {
  background-color: darken(var(--neutral300), 10%);
}

.btn-neutral-400 {
  background-color: var(--neutral400);
  color: #fff;
}

.btn-neutral-400:hover {
  background-color: darken(var(--neutral400), 10%);
}

.btn-neutral-500 {
  background-color: var(--neutral500);
  color: #fff;
}

.btn-neutral-500:hover {
  background-color: darken(var(--neutral500), 10%);
}

.btn-neutral-600 {
  background-color: var(--neutral600);
  color: #fff;
}

.btn-neutral-600:hover {
  background-color: darken(var(--neutral600), 10%);
}

.btn-neutral-700 {
  background-color: var(--neutral700);
  color: #fff;
}

.btn-neutral-700:hover {
  background-color: darken(var(--neutral700), 10%);
}

.btn-neutral-800 {
  background-color: var(--neutral800);
  color: #fff;
}

.btn-neutral-800:hover {
  background-color: darken(var(--neutral800), 10%);
}

.btn-neutral-900 {
  background-color: var(--neutral900);
  color: #fff;
}

.btn-neutral-900:hover {
  background-color: darken(var(--neutral900), 10%);
}

.link-neutral-50 {
  color: var(--neutral50);
  text-decoration: none;
}

.link-neutral-50:hover {
  text-decoration: underline;
}
.link-light-gray {
  color: var(--light-gray);
  text-decoration: none;
}

.link-light-gray:hover {
  text-decoration: underline;
}
.link-gray {
  color: var(--gray);
  text-decoration: none;
}

.link-gray:hover {
  text-decoration: underline;
}
.link-dark-gray {
  color: var(--dark-gray);
  text-decoration: none;
}

.link-dark-gray:hover {
  text-decoration: underline;
}
.link-black {
  color: var(--black);
  text-decoration: none;
}

.link-black:hover {
  text-decoration: underline;
}
.link-green {
  color: var(--green);
  text-decoration: none;
}

.link-green:hover {
  text-decoration: underline;
}
.link-purple {
  color: var(--purple);
  text-decoration: none;
}

.link-purple:hover {
  text-decoration: underline;
}
.link-ocean {
  color: var(--ocean);
  text-decoration: none;
}

.link-ocean:hover {
  text-decoration: underline;
}
.link-olive {
  color: var(--olive);
  text-decoration: none;
}

.link-olive:hover {
  text-decoration: underline;
}
.link-neutral-100 {
  color: var(--neutral100);
  text-decoration: none;
}

.link-neutral-100:hover {
  text-decoration: underline;
}

.link-neutral-200 {
  color: var(--neutral200);
  text-decoration: none;
}

.link-neutral-200:hover {
  text-decoration: underline;
}

.link-neutral-300 {
  color: var(--neutral300);
  text-decoration: none;
}

.link-neutral-300:hover {
  text-decoration: underline;
}

.link-neutral-400 {
  color: var(--neutral400);
  text-decoration: none;
}

.link-neutral-400:hover {
  text-decoration: underline;
}

.link-neutral-500 {
  color: var(--neutral500);
  text-decoration: none;
}

.link-neutral-500:hover {
  text-decoration: underline;
}

.link-neutral-600 {
  color: var(--neutral600);
  text-decoration: none;
}

.link-neutral-600:hover {
  text-decoration: underline;
}

.link-neutral-700 {
  color: var(--neutral700);
  text-decoration: none;
}

.link-neutral-700:hover {
  text-decoration: underline;
}

.link-neutral-800 {
  color: var(--neutral800);
  text-decoration: none;
}

.link-neutral-800:hover {
  text-decoration: underline;
}

.link-neutral-900 {
  color: var(--neutral900);
  text-decoration: none;
}

.link-neutral-900:hover {
  text-decoration: underline;
}


a {
  color: var(--black);
  text-decoration: none;
  /* font-weight: 700 !important; */
}

a:hover {
  color: var(--black) !important;
}

a:active {
  color: var(--black) !important;
}

a[disabled] {
  color: var(--gray);
  pointer-events: none;
}

.hover-white:hover {
  background-color: white !important;
  color: var(--black) !important;
}

.hover-dark:hover {
  background-color: var(--black) !important;
  color: white !important;
}

body {
  color: var(--black);
}

/* 
  *{
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    box-sizing: border-box;
}
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  } */

/*   
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
   */

/* button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */

  /* BALLAMAS */

/* position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

font-family: 'Chillax';
font-style: normal;
font-weight: 600;
font-size: 30px; */
/* line-height: 36px; */
/* identical to box height, or 120% */
/* letter-spacing: -0.04em; */

/* b-black */
/* border: 1px solid #1D1D1D; */
