:root {
  --light-gray: #E5E5E5;  
  --gray: #C3C3C3; 
  --dark-gray: #7E7E7E; 
  --black: #1d1d1d;
  --filterBlack: invert(0%) sepia(32%) saturate(7455%) hue-rotate(359deg) brightness(90%) contrast(77%);
  --green: #2D5C43; 
  --filterGreen: invert(29%) sepia(17%) saturate(1163%) hue-rotate(95deg) brightness(94%) contrast(86%);
  --purple: #393158; 
  --filterPurple: invert(17%) sepia(24%) saturate(1364%) hue-rotate(212deg) brightness(90%) contrast(86%);
  --ocean: #2A5259; 
  --filterOcean: invert(21%) sepia(6%) saturate(4658%) hue-rotate(141deg) brightness(96%) contrast(72%);
  --olive: #706947; 
  --filterOlive: invert(32%) sepia(2%) saturate(6621%) hue-rotate(13deg) brightness(121%) contrast(84%);
}

*::selection,html::selection, body::selection{
  color: var(--black);
  background-color: var(--gray);
}

.filterNormal {
  filter: none;
}

.filterBlack {
  filter: var(--filterBlack);
}

.filterGreen {
  filter: var(--filterGreen);
}

.filterPurple {
  filter: var(--filterPurple);
}

.filterOcean{
  filter: var(--filterOcean);
}

.filterOlive {
  filter: var(--filterOlive)
}

.bg-normal {
  background-color: rgba(202, 201, 201, 0.815);
}

.bg-light-gray {
  background-color: var(--light-gray) !important;
}
.bg-gray {
  background-color: var(--gray) !important;
}
.bg-dark-gray {
  background-color: var(--dark-gray) !important;
}
.bg-black {
  background-color: var(--black) !important;
}
.bg-green {
  background-color: var(--green) !important;
}
.bg-purple {
  background-color: var(--purple) !important;
}
.bg-ocean {
  background-color: var(--ocean) !important;
}
.bg-olive {
  background-color: var(--olive) !important;
}

.text-light-gray {
  color: var(--light-gray) !important;
}
.text-gray {
  color: var(--gray) !important;
}
.text-dark-gray {
  color: var(--dark-gray) !important;
}
.text-black {
  color: var(--black) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-ocean {
  color: var(--ocean) !important;
}
.text-olive {
  color: var(--olive) !important;
}


.border-light-gray {
  border-color: var(--light-gray) !important;
}
.border-gray {
  border-color: var(--gray) !important;
}
.border-dark-gray {
  border-color: var(--dark-gray) !important;
}
.border-black {
  border-color: var(--black) !important;
}
.border-green {
  border-color: var(--green) !important;
}
.border-purple {
  border-color: var(--purple) !important;
}
.border-ocean {
  border-color: var(--ocean) !important;
}
.border-olive {
  border-color: var(--olive) !important;
}

.btn-light-gray {
  background-color: var(--light-gray);
  color: #000;
}

.btn-light-gray:hover {
  background-color: darken(var(--light-gray), 10%);
}
.btn-gray {
  background-color: var(--gray);
  color: #000;
}

.btn-gray:hover {
  background-color: darken(var(--gray), 10%);
}
.btn-dark-gray {
  background-color: var(--dark-gray);
  color: #000;
}

.btn-dark-gray:hover {
  background-color: darken(var(--dark-gray), 10%);
}
.btn-black {
  background-color: var(--black);
  color: #FFF;
}

.btn-black:hover {
  background-color: darken(var(--black), 10%);
}
.btn-green {
  background-color: var(--green);
  color: #FFF;
}

.btn-green:hover {
  background-color: darken(var(--green), 10%);
}
.btn-purple {
  background-color: var(--purple);
  color: #FFF;
}

.btn-purple:hover {
  background-color: darken(var(--purple), 10%);
}
.btn-ocean {
  background-color: var(--ocean);
  color: #FFF;
}

.btn-ocean:hover {
  background-color: darken(var(--ocean), 10%);
}
.btn-olive {
  background-color: var(--olive);
  color: #FFF;
}

.btn-olive:hover {
  background-color: darken(var(--olive), 10%);
}

.link-light-gray {
  color: var(--light-gray);
  text-decoration: none;
}

.link-light-gray:hover {
  text-decoration: underline;
}
.link-gray {
  color: var(--gray);
  text-decoration: none;
}

.link-gray:hover {
  text-decoration: underline;
}
.link-dark-gray {
  color: var(--dark-gray);
  text-decoration: none;
}

.link-dark-gray:hover {
  text-decoration: underline;
}
.link-black {
  color: var(--black);
  text-decoration: none;
}

.link-black:hover {
  text-decoration: underline;
}
.link-green {
  color: var(--green);
  text-decoration: none;
}

.link-green:hover {
  text-decoration: underline;
}
.link-purple {
  color: var(--purple);
  text-decoration: none;
}

.link-purple:hover {
  text-decoration: underline;
}
.link-ocean {
  color: var(--ocean);
  text-decoration: none;
}

.link-ocean:hover {
  text-decoration: underline;
}
.link-olive {
  color: var(--olive);
  text-decoration: none;
}

.link-olive:hover {
  text-decoration: underline;
}

a {
  color: rgba(29, 29, 29, 0.8) !important;
  text-decoration: none;
  /* font-weight: 700 !important; */
}

a:hover {
  color: var(--black) !important;
}

a:active {
  color: var(--black) !important;
}

a[disabled] {
  color: var(--gray);
  pointer-events: none;
}

.hover-white:hover {
  background-color: white !important;
  color: var(--black) !important;
}

.hover-dark:hover {
  background-color: var(--black) !important;
  color: white !important;
}

body {
  color: var(--black);
}
